#
# backup files
#
*.bak
*~


#Don't hold onto the main grntsApp library
grntsApp.lib
*.stash

#
# compiled/linked/executable files
#
*.exe
*.exp
*.pdb
*.ilk
*.obj
*.rc
*.res
*.manifest
*.suo
*.db
ipBuild/release
ipBuild/debug


!bin/mcpp.exe

# 
# Qt pro user files
#
*.pro.user*
*.qmake.stash

#
# Qt tmp directories
# 
Makefile*
lib/vs2013/
lib/vs2017/
moc_*

# Eaagles description language files
*.edl

# Settings file
*.ems

# Temp files
tmp/